*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.section{
    width: 100%;
    padding: 40px;
    display: flex;
    gap: 40px;
    align-items: center;
}
.left-text{
    width: 45%;
}
.left-text h2{
    font-size: 32px;
    margin: 0 0 20px 0;
    line-height: 1.3;
}
.left-text p{
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 20px;
}
.link{
    color: #000;
    text-decoration: underline;
}
.right-image{
    width: 50%;
}
.right-image img{
    width: 85%;
    border-radius: 0px;
}
.images{
    justify-content: space-between;
}

.images img{
    width: 25%;
    border-radius: 0px;
}
